<a href="https://colab.research.google.com/github/UsmanovAMRBEK/pandas-tutorial/blob/main/pandas_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [4]:
pd.__version__

'1.3.5'

In [5]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [6]:
pd.__version__

'1.3.5'

In [9]:
!python --version

Python 3.7.14

In [10]:
!python3 --version

Python 3.7.14

In [11]:
!pip install --upgrade pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.4)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [12]:
pd.__version__

'1.3.5'

In [13]:
arr = np.array([1,2,3,4,5])
arr

array([1, 2, 3, 4, 5])

In [14]:
obj = pd.Series(data=arr,index=list('abcde'),dtype=float)
obj

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

In [15]:
obj[0]

1.0

In [16]:
obj['a']

1.0

In [17]:
obj[obj>3]

d    4.0
e    5.0
dtype: float64

In [18]:
obj[obj==1]

a    1.0
dtype: float64

In [19]:
obj[obj<3]

a    1.0
b    2.0
dtype: float64

In [20]:
obj.mean()

3.0

In [21]:
obj.sum()

15.0

In [27]:
obj.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [28]:
obj.index = range(1,6)

In [29]:
obj

1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
dtype: float64

In [31]:
obj[1] # obj[0]  return Error

1.0

In [38]:
num = {'Anvar':23, 'Behruz':22, 'Ali':23}
obj1 = pd.Series(num)
obj1

Anvar     23
Behruz    22
Ali       23
dtype: int64

In [ ]:
arr2 = np.random.randn(2,3)
obj2 = pd.Series(arr2)
obj2

In [42]:
obj3 = pd.Series([])
obj3

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

## DataFrame

In [46]:
data = {
    'Anvar': [120,130, 150],
    'Ali': [200, 140, 180],
    'Eshmat': [180, None, 182],
    'Toshmat': [185, 145, None],
    'Hasan': [170, 187, None],
    'Husan': [170, None, None]
}
df = pd.DataFrame(data=data)
df

   Anvar  Ali  Eshmat  Toshmat  Hasan  Husan
0    120  200   180.0    185.0  170.0  170.0
1    130  140     NaN    145.0  187.0    NaN
2    150  180   182.0      NaN    NaN    NaN

In [47]:
arr2D = np.arange(12).reshape(3,4)
df1 = pd.DataFrame(arr2D)
df1

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [48]:
df1.index = list("ABC")

In [49]:
df1

   0  1   2   3
A  0  1   2   3
B  4  5   6   7
C  8  9  10  11

In [70]:
df1.columns = ('a', 'b', 'c', 'd')

In [71]:
df1

   a  b   c   d
A  0  1   2   3
B  4  5   6   7
C  8  9  10  11

In [72]:
df1.column

['a', 'b', 'c', 'd']

In [75]:
df1[['a']]

   a
A  0
B  4
C  8

In [76]:
df1[['b']]

   b
A  1
B  5
C  9

In [77]:
df1[['a','b','d']]

   a  b   d
A  0  1   3
B  4  5   7
C  8  9  11

In [86]:
df1[['d','a','b']]

    d  a  b
A   3  0  1
B   7  4  5
C  11  8  9

In [84]:
df1[['a','b','c']]

   a  b   c
A  0  1   2
B  4  5   6
C  8  9  10

In [97]:
df1_type = df1.dtypes

In [98]:
#df1.dtypes[0]

In [ ]:
df1.dtypes

In [101]:
df1

   a  b   c   d
A  0  1   2   3
B  4  5   6   7
C  8  9  10  11

In [102]:
df1.shape

(3, 4)

In [103]:
df1.size

12

In [104]:
df1.values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [106]:
df1.columns

Index(['a', 'b', 'c', 'd'], dtype='object')

In [107]:
df1.index

Index(['A', 'B', 'C'], dtype='object')

In [113]:
data = {
    "Anvar": [1,2,3,5],
    "Behruz": [12,14,15,6],
    "Aziz": [13,15,4,6]
}
df2 = pd.DataFrame(data)

In [115]:
df2.index = ['I','II',"III","IV"]

In [116]:
df2

     Anvar  Behruz  Aziz
I        1      12    13
II       2      14    15
III      3      15     4
IV       5       6     6

In [121]:
data2 = {
    'A':{
        "Anvar": 1,
         "Ali": 2,
         "Behruz":3
    },
    'B':{
        "Anvar": 9,
        "Ali": 10,
        "Behruz":12
    }
}
df3 = pd.DataFrame(data2)

In [131]:
data2.keys()

dict_keys(['A', 'B'])

In [122]:
df3

        A   B
Anvar   1   9
Ali     2  10
Behruz  3  12

In [123]:
df4 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                   columns=['a', 'b', 'c'])

In [124]:
df4

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [126]:
df3

        A   B
Anvar   1   9
Ali     2  10
Behruz  3  12

In [127]:
df3.ndim

2

In [128]:
df3.size

6

In [129]:
df3.style

In [130]:
df3.keys()

Index(['A', 'B'], dtype='object')

In [132]:
df3.flags

In [133]:
# data3 = 
df5 = pd.DataFrame(data={
    "hasan":[12,13],
    "husan":[11,10],
    "husan":[21,10],
    "hasan":[13,11]
})
df5

   hasan  husan
0     13     21
1     11     10

In [135]:
df6 = pd.DataFrame(np.arange(10).reshape(2,5), index=list("aa"),columns=list("bbbbb"))
df6

   b  b  b  b  b
a  0  1  2  3  4
a  5  6  7  8  9

In [136]:
df6.empty

False

In [137]:
df7 = pd.DataFrame(np.array([[1,2,3], [None, 0,1]]))
df7

      0  1  2
0     1  2  3
1  None  0  1

In [138]:
df7.dtypes

0    object
1    object
2    object
dtype: object

In [139]:
df

     Anvar  Ali  Eshmat  Toshmat  Hasan  Husan
I      120  200   180.0    185.0  170.0  170.0
II     130  140     NaN    145.0  187.0    NaN
III    150  180   182.0      NaN    NaN    NaN

In [140]:
df.empty

False

In [141]:
# emtpy === any(df[i])
df8 = pd.DataFrame(data=np.array([[]]))
df8

Empty DataFrame
Columns: []
Index: [0]

In [142]:
df8.empty

True

## Indexing and boolean indx